In [1]:
## Project 2 Airbnb Analysis

import pandas as pd
import numpy as np
import matplotlib.pyplot as pp
import glob

import plotly
import plotly.plotly as py
py.sign_in('nzahadat', 'VDBLh2LQZvNWxovGAbr8')
print(plotly.__version__)
plotly.offline.init_notebook_mode() # run at the start of every notebook


%matplotlib inline

2.0.11

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [58]:
# import & conbine data
total_listings=pd.DataFrame()
for filename in glob.iglob('./**/**/listings.csv',recursive=False):
    print(filename)
    data=pd.read_csv(filename,error_bad_lines=False,low_memory=False,encoding='ISO-8859-1')
    total_listings=total_listings.append(data)

./2015-01-01/data/listings.csv
./2015-03-01/data/listings.csv
./2015-04-01/data/listings.csv
./2015-05-01/data/listings.csv
./2015-06-01/data/listings.csv
./2015-08-01/data/listings.csv
./2015-09-01/data/listings.csv
./2015-10-01/data/listings.csv
./2015-11-01/data/listings.csv
./2015-11-20/data/listings.csv
./2015-12-02/data/listings.csv
./2016-01-01/data/listings.csv
./2016-02-02/data/listings.csv
./2016-04-03/data/listings.csv
./2016-05-02/data/listings.csv
./2016-06-02/data/listings.csv
./2016-07-02/data/listings.csv
./2016-08-02/data/listings.csv
./2016-09-02/data/listings.csv
./2016-10-01/data/listings.csv
./2016-11-02/data/listings.csv
./2016-12-03/data/listings.csv
./2017-01-01/data/listings.csv
./2017-02-02/data/listings.csv
./2017-03-02/data/listings.csv
./2017-04-02/data/listings.csv
./2017-05-02/data/listings.csv

In [63]:
# check missing value, drop not needed columns
total_listings.head()

,access,accommodates,amenities,availability_30,availability_365,availability_60,availability_90,bathrooms,bed_type,bedrooms,...,space,square_feet,state,street,summary,thumbnail_url,transit,weekly_price,xl_picture_url,zipcode
0,NaN,2,NaN,21.0,322.0,51.0,72.0,1.0,Real Bed,1.0,...,NaN,NaN,NY,"East 53rd Street, New York, NY 10022, United S...",NaN,NaN,NaN,"$1,000.00",NaN,10022
1,NaN,10,NaN,28.0,348.0,58.0,88.0,1.0,Real Bed,3.0,...,NaN,NaN,NY,"West 155th Street, New York, NY, United States",NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2,NaN,4.0,227.0,13.0,26.0,1.0,Real Bed,1.0,...,NaN,NaN,NY,"Van Buren Street, Brooklyn, NY 11221, United S...",NaN,NaN,NaN,NaN,NaN,11221
3,NaN,2,NaN,1.0,274.0,1.0,1.0,1.0,Real Bed,1.0,...,NaN,NaN,NY,"Greenwich Ave, New York, NY 10011, United States",NaN,NaN,NaN,NaN,NaN,10011
4,NaN,2,NaN,30.0,365.0,60.0,90.0,1.0,Real Bed,1.0,...,NaN,NaN,NY,"West 22nd Street, New York, NY 10011, United S...",NaN,NaN,NaN,NaN,NaN,10011

In [69]:
total_listings.shape

(941484, 96)

In [70]:
total_listings.isnull().sum()/total_listings.shape[0]*100

access                              70.335555
accommodates                         0.000000
amenities                           14.518781
availability_30                      0.000319
availability_365                     0.000319
availability_60                      0.000319
availability_90                      0.000319
bathrooms                            0.756147
bed_type                             0.000000
bedrooms                             0.256191
beds                                 0.225283
calculated_host_listings_count       2.909449
calendar_last_scraped                0.000000
calendar_updated                     0.000000
cancellation_policy                 14.518781
city                                 0.082954
cleaning_fee                        41.541226
country                              0.000106
country_code                        14.518781
description                          2.937172
experiences_offered                 14.518781
extra_people                         0.000000
first_review                        24.760166
guests_included                      0.000000
has_availability                    68.634836
host_about                          33.880130
host_acceptance_rate                51.669811
host_has_profile_pic                14.589839
host_id                              0.000000
host_identity_verified              14.589839
                                      ...
notes                               67.730200
number_of_reviews                    0.000000
picture_url                          0.000000
price                                0.000000
property_type                        0.005311
require_guest_phone_verification    14.518781
require_guest_profile_picture       14.518781
requires_license                     2.909449
review_scores_accuracy              26.676077
review_scores_checkin               26.706880
review_scores_cleanliness           26.592805
review_scores_communication         26.568800
review_scores_location              26.680114
review_scores_rating                26.398962
review_scores_value                 26.680963
reviews_per_month                   26.781230
room_type                            0.000000
scrape_id                            0.000000
security_deposit                    61.325631
smart_location                      14.519312
space                               28.121986
square_feet                         97.909364
state                                0.003930
street                               0.000000
summary                              9.397398
thumbnail_url                       28.002494
transit                             45.436141
weekly_price                        65.625651
xl_picture_url                      28.002494
zipcode                              0.977712
Length: 96, dtype: float64

In [ ]:
# drop columns which have missing value over 15% and columns that are not related to analysis
total_listings_clean=total_listings.dropna(thresh=0.85**total_listings.shape[0],axis=0)

In [74]:
total_listings_clean.shape

(941484, 96)